@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

/* reset default styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: top;
}

/* =====utils & commons=========================== */
:root {
  --main: #fe8a02;
  --main-dark: #42413c;
  --white: #fff;
  --transp-white: #d7ccc0;
  --dark: #2a2626;
  --transp-dark: #908d8b;
  --light: #f5f4f0;
  --brown: #b09a81;
  --blue: #1085c5;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;

  color: var(--dark);
  font: 16px/1.6em 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main);
  font: 16px/1.2em 'Neucha', sans-serif;
}

.gen-wrapper {
  min-height: 100%;
  overflow: hidden;
}

.content-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0 100px 0;
}

h1 {
  font-size: 72px;
}

h2 {
  margin: 0 0 30px 0;

  font-size: 60px;
}

h3 {
  margin: 0;

  font-size: 34px;
}

h5 {
  font-size: 14px;
}

.bg-img::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;

  width: 100%;
  height: 100%;

  background: url('../images/background.png') no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: '';
}

.btn {
  display: inline-block;

  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;

  background-color: var(--main);
}

.btn:hover {
  background-color: #ea7600;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.bg-gray {
  background-color: var(--light);
}

.bg-dark {
  background-color: var(--main-dark);
}

.bg-brown {
  background-color: var(--brown);
}

.w-05 {
  width: 50%;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.m-0 {
  margin: 0;
}

/* =============header============================================================================ */
.header {
  z-index: 1;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -10;

  height: 525px;
}

.header-text {
  display: flex;
  gap: 30px;
  margin: 185px 0 0 0;

  background: none;
}

.header-btn {
  margin: 25px 0 0 0;
}

header span,
.hero span {
  color: var(--dark);
}

/* ========================================================================================= */
.hero {
  text-align: center;
}

.hero-text {
  margin: 0 0 30px 0;
}

/* =============nav============================================================================ */
.menu {
  margin: -200px 0 0 0;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  padding-top: 200px;
}

.menu-title {
  width: 350px;

  font-size: 52px;
}

.menu span {
  color: var(--white);
}

.menu-item {
  display: block;
  width: 350px;
  padding: 24px;

  background-color: var(--light);
}

.menu-item:hover,
.menu-item:hover h3 {
  color: var(--white);

  background-color: var(--main);
}

.menu-link-number {
  margin: 0 0 40px 0;

  font: 64px/1 Neucha, sans-serif;
}

.menu p {
  margin-bottom: 0;
}

/* =============main============================================================================ */
.main-item {
  z-index: 1;
}

.main-item-header {
  display: flex;

  color: var(--dark);
  font-family: 'Neucha', sans-serif;
  line-height: 1.2;

  column-gap: 30px;
}

.main-item-header-reverse {
  flex-direction: row-reverse;
}

.main-item-header-title {
  color: var(--dark);
}

.main-item-header-text {
  margin: 30px 0 0 0;

  font-size: 34px;
}

.main-item-header-span {
  color: var(--transp-dark);
  font-size: 24px;
}

.main-item-subtitle {
  margin: 100px 0 20px 0;
  padding: 5px 10px;

  color: var(--white);
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;

  text-transform: uppercase;

  background-color: var(--brown);
}

.main-item-text {
  display: flex;
  gap: 30px;
}

.main-item:nth-child(2n) .main-item-container,
.main-item:nth-child(2n) .main-item-header,
.main-item:nth-child(2n) .main-item-header-title {
  color: var(--white);
}

.main-item:nth-child(2n) .main-item-header-span {
  color: var(--transp-white);
}

.main-item:nth-child(2n) .main-item-subtitle {
  color: var(--brown);

  background-color: var(--white);
}
