html {
  color: #303846;
  font: 16px/1.5 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;

  font-size: 3em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;

  font-size: 1.8em;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.header {
  position: fixed;

  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  height: 60px;
  padding: 5px 20px;

  font-weight: bold;

  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
}

.logo span {
  padding-left: 10px;
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 0;

  list-style: none;
}

.hero {
  display: flex;
  justify-content: center;
  height: 300px;
  padding: 60px;

  color: #fff;

  background: url('./images/banner.png') center;
  background-size: cover;
}

.hero .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.hero-logo {
  width: 120px;
}

.hero a,
button {
  padding: 10px;

  border: 1px solid #fff;
  border-radius: 10px;

  color: inherit;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

.features {
  padding: 60px;
}

.features ul {
  display: flex;
  gap: 30px;
  justify-content: center;

  list-style: none;
}

.features-item {
  width: 31%;
}

.review {
  padding: 60px 0;

  background-color: #f7f7f7;
}

.review-description,
.relax-description {
  width: 45%;
}

.relax {
  padding: 60px;
}

.relax-description {
  padding-left: 55%;
}

.review img {
  float: right;
  width: 30%;
}

.relax img {
  float: left;
  width: 30%;
}

.ordering {
  padding: 60px 0;

  background-color: #f7f7f7;
}

.ordering h2 {
  text-align: center;
}

form {
  width: 50%;
  margin: auto;
}

fieldset {
  margin: 15px 0;
  padding-bottom: 20px;
  border: 1px solid #09d3ac;

  font-weight: bold;
}

legend {
  color: #09d3ac;
}

select,
input {
  width: 50%;
}

input {
  box-sizing: border-box;
}

.btn-submit {
  border: 1px solid #09d3ac;

  color: #09d3ac;

  background-color: #f7f7f7;

  cursor: pointer;
}

.order-form-group {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 60px 0;

  color: #fff;

  background-color: #303846;
}

.footer h3 {
  margin: 0;

  font-size: 1em;
}

.footer-logo {
  position: relative;
}

.footer span {
  position: absolute;
  top: 10px;
  left: 50px;

  width: max-content;

  font-weight: bold;
}

.footer-img {
  width: 40px;
}

small {
  display: block;

  color: rgb(131, 133, 130);
}
